ul {
    list-style-type: none;
    padding-left: 0;
}

label {
    cursor: pointer;
    display: block;
}

input[type="checkbox"], input[type="radio"] {
    margin-right: 5px;
    position: relative;
    bottom: 1px;
}
